/*YUI Css Reset*/
html {
	color: #000;
	background: #FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input, textarea, select {
 *font-size:100%;
}
legend {
	color: #000;
}
/*Global*/
body {
	background: #e4e4e4 url(images/body-gradiant.png) repeat-x;
	font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif, 'Microsoft Yahei';
	font-size: 14px;
}
#wrap {
	margin: 0 auto;
	padding: 0 auto;/*background:url(images/content-back.gif) repeat-y;*/
}
/*Nav*/
#nav {
	margin: 0 auto;
	width: 960px;
	height: 1%;
	height: 30px;
	background: url(images/top-background.png) no-repeat;
	font-size: 13px;
}
#nav li {
	float: left;
	background: url(images/nav-divider.gif) right center no-repeat;
	height: 30px;
	display:inline;
}

#nav a {
	padding:8px 13px 0 12px;
	text-decoration: none;
	color: #696969;
	height: 26px;
	display:block;
}
#nav a:hover, #nav .current a {
	color: #000;
	font-weight:500;
}
#nav .current {
	font-weight: 700;
	background: url(images/current-page-marker.gif) center bottom no-repeat;
	color: #000;
}
#nav .last {
	background: none;
}
/*Header*/
#header {
	margin: 0 auto;
	width: 960px;
	height: 100px;
	background: #000 /*url(images/content-back.gif) repeat-y*/;
}
